@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

header {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}
#logo {
    text-decoration: none;
    color: black;
}
header h2 {
    padding: 2rem;
    font-size: 2rem;
}
.search-form {
    position: relative;
    padding: 2rem;
    display: flex;
    width: 35%;
}
.search-input {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px 0 0 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 8px rgb(80, 80, 80);
}
.search-input::placeholder {
    font-size: 1.3rem;
    padding: 0.4rem;
    font-weight: 500;
}
.submit-btn {
    outline: none;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    background: rgb(0, 0, 68);
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 8px rgb(39, 39, 39);
} 
.note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.note {
    position: relative;
    background: #e7f3fe;
    color: black;
    padding: 1rem;
    border-radius: 0 5px 5px 0;
    border-left: 6px solid #2196F3; 
}
.gallery-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0.5rem 0;
}
.gallery-items a {
    color: black;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 2rem 0;
    width: 80%;
    margin: auto;
    row-gap: 3rem;
    column-gap: 3rem;
}
.gallery-img img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    object-fit: cover;
}
.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
.more-btn {
    background: rgb(0, 0, 68);
    padding: 1rem 2rem;
    color: white;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .search-form{
        width: 100%;
    }
    .gallery-img {
        padding-right: 2rem;
    }
    .gallery-img img {
        height: 90%;
    }
}